doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    title Search Results
    link(rel='stylesheet', href='app/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(rel='stylesheet', href='app/stylesheets/mystyle.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js')
    script(src='app/JS/app.js')
    script(src='app/JS/controller.js')
    script(src='app/JS/factory.js')
  body(ng-app='app', ng-controller='appctrl')
    .container
      h1 Search Results
      br
      ul#i
        li.well(ng-repeat='obj in data.data.json')
          a(href='/products?pid={{obj.pid}}')
            h4
              | Description: {{obj.description}}
              br
              |  Price: {{obj.price}}
              img.abc(src='{{obj.image}}')
