doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='UTF-8')
    title DesiKart : cart
    link(rel='stylesheet', href='app/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
    link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
    link(rel='stylesheet', href='app/stylesheets/mystyle.css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js')
    script(src='app/JS/app.js')
    script(type='text/javascript', src='javascripts/script.js')
    script.
        $(document).ready(function(){
        id="#{user.id}";
        sid="#{sid}";
        });
    script(src='javascripts/cart.js')
    script(src='javascripts/buynow.js')
    script(src='app/JS/controller.js')
    script(src='app/JS/pfactory.js')    
    style.
      ul{
      list-style: none;
      }
      
  body(ng-app='app', ng-controller='pctrl')
    .w3-container
      // Top header
      header.w3-container.w3-xlarge.w3-bar
        h1.w3-bar-item
          a(href='/',style='text-decoration:none')
            strong DesiKart
        .w3-hide-large(style='margin-top:83px')
        p.w3-bar-item
        p
          .w3-right.w3-bar-item
            .w3-dropdown-hover.w3-white
              i.fa.fa-user.w3-margin-right
              .w3-dropdown-content.w3-bar-block.w3-border.w-padding
                a.w3-bar-item.w3-button(href='/account') Account
                a.w3-bar-item.w3-button(href='/orders') Order
                #logout.w3-bar-item.w3-button Logout
            a(href='/cart')
              i.fa.fa-shopping-cart.w3-margin-right
    .w3-container.w3-light-grey.w3-center
        h2 Product
        h4
            | Description: {{data.data.json[0].description}}
            br
            |  Price: {{data.data.json[0].price}}
            br
            img.abc(src='{{data.data.json[0].image}}', alt='')
        input#buynow(type='submit', value='Buy Now')
        br
        input#add2cart(type='submit', value='Add to Cart')
    .w3-container.w3-black.w3-padding-8
      h6  
    footer#footer.w3-padding-64.w3-light-grey.w3-small.w3-center
      .w3-row-padding
        .w3-col.s4
          h4
            strong CONTACT US
          p Question about?
          form
            p
              input.w3-input.w3-border(type='text', placeholder='Name')
            p
              input.w3-input.w3-border(type='text', placeholder='Email')
            p
              input.w3-input.w3-border(type='text', placeholder='subject')
            p
              input.w3-input.w3-border(type='text', placeholder='message')
            button.w3-button.w3-block.w3-black(type='button', onclick="alert('Your Message Sent');") Send
        .w3-col.s4
          h4
            strong ABOUT
          p
            a(href='#') About us
          p
            a(href='#') Help
          h4.abc
            strong NEED HELP ?
          p
            i.fa.fa-fw.fa-phone
            |  9999954637
          p
            i.fa.fa-fw.fa-envelope
            |  desikart@gmail.com
        div
          .w3-col.s4.w3-justify
            h4
              strong SUBSCRIBE
            p
              input.w3-border.abcd.w3-padding-large(type='text', placeholder='xyz@mail.com')
              button.w3-button.abcd.w3-black(type='button', onclick="alert('Thank  you! for subscribing');") SUBSCRIBE
    .w3-black.w3-center
      h4
        font(colour='white') CONNECT
      i.fa.fa-facebook-official.w3-hover-opacity.w3-large
      i.fa.fa-instagram.w3-hover-opacity.w3-large
      i.fa.fa-snapchat.w3-hover-opacity.w3-large
      i.fa.fa-pinterest-p.w3-hover-opacity.w3-large
      i.fa.fa-twitter.w3-hover-opacity.w3-large
      i.fa.fa-linkedin.w3-hover-opacity.w3-large
